.vaddonz-button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 160px;
    right: 146px;
    height: 29px;
    width: 83px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    background-image: url("https://i.postimg.cc/65GKv6Bs/jezuskudwa.png"), url("https://i.postimg.cc/kgc1tnm7/jezusku.png");
    background-size: auto;
    background-repeat: no-repeat;
    z-index: 9999;
    transition: background-image 0.3s ease-in-out;
}

.vaddonz-button:hover {
    background-image: url("https://i.postimg.cc/kgc1tnm7/jezusku.png"), url("https://i.postimg.cc/65GKv6Bs/jezuskudwa.png");
    cursor: url("https://aether.margonem.pl/img/gui/cursor/5n.png?v=1730794617277");
}


.vaddonz-switch {
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 5px;
    text-shadow: 
    rgba(0, 0, 0, 0.75) -1px -1px 2px, 
    rgba(0, 0, 0, 0.75) 1px -1px 2px,
    rgba(0, 0, 0, 0.75) -1px 1px 2px, 
    rgba(0, 0, 0, 0.75) 1px 1px 2px,
    rgba(0, 0, 0, 0.75) -2px -2px 4px, 
    rgba(0, 0, 0, 0.75) 2px -2px 4px,
    rgba(0, 0, 0, 0.75) -2px 2px 4px, 
    rgba(0, 0, 0, 0.75) 2px 2px 4px;
}

.tip-wrapper {
    box-shadow: 0 0 0 0 #2b282a, 0 0 0 1px #353131, 0 0 0 2px #191311, 0 0 0 3px #2b2727, 0 0 0 4px #59595a, 0 0 0 5px #9da1a7, 0 0 0 6px #5a585b, 0 0 0 7px #2c2625;
    color: #e6d6bf;
    line-height: 14px;
    max-width: 250PX;
    min-width: 150px;
    position: absolute;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 1000;
}

.tip-wrapper .content {
    background: rgba(0, 0, 0, .85);
    font-size: 12.8px;
    padding: 5px;
    word-break: break-word;
}