.vaddonz-button {
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    background-image: url("https://i.postimg.cc/kgc1tnm7/jezusku.png");
    background-size: auto;
    background-repeat: no-repeat;
    height: 29px;
    width: 83px;
    right: 146px;
    text-shadow: rgba(0, 0, 0, 0.75) -1px -1px 2px, rgba(0, 0, 0, 0.75) 1px -1px 2px,
                 rgba(0, 0, 0, 0.75) -1px 1px 2px, rgba(0, 0, 0, 0.75) 1px 1px 2px,
                 rgba(0, 0, 0, 0.75) -2px -2px 4px, rgba(0, 0, 0, 0.75) 2px -2px 4px,
                 rgba(0, 0, 0, 0.75) -2px 2px 4px, rgba(0, 0, 0, 0.75) 2px 2px 4px;
    top: 160px;
    position: absolute;
    z-index: 9999;
}

.vaddonz-switch {
    color: rgb(201, 201, 201);
    text-align: center;
    padding: 5px;
}
